.scroll{
  margin-top:10px;
}

.ui.slider {
  position: relative;
  visibility: visible;
  // Make sure items don't scroll over ever
  overflow: hidden;
}

.ui.slider.checkbox{
  min-height:27px;
}

.ui.fitted.slider.checkbox, .ui.fitted.slider.checkbox{
  width:57px;
}
